node_modules/
public/extras-aula-1/wallpapers/2560x1600.jpg
public/extras-aula-1/wallpapers/2560x1080.jpg
public/extras-aula-1/wallpapers/1440x900.jpg
public/extras-aula-1/wallpapers/1920x1080.jpg
public/extras-aula-1/wallpapers/Mobile - 1080x1920.jpg
public/extras-aula-1/wallpapers/Mobile - 1080x1920 [2].jpg
public/extras-aula-1/wallpapers/Mobile - 1080x1920 [2].jpg
